.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    padding: 3rem 0;
    margin-bottom: 3rem;
    /* border-radius: 8px; */
    color: white;
    background: #03a8d8;
}

@media only screen and (max-width: 680px) {
    .page-header {
        display: none;
    }
  }