#root {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

/* ------------------ Resets ------------------------ */

html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h2 {
  font-weight: bold;
  font-size: 18px;
}
h3 {
  font-size: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

button {
  position: relative;
  overflow: hidden;
}

button:hover {
  cursor: pointer;
}

button:hover:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  display: block;
  width: 100%;
  height: 100%;
  background: hsl(0, 0%, 0%, 0.5);
}

.modal-bg {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(0, 0%, 0%, 0.6);
}

/*------------------------------------- Background*/

.bg {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* -------------------------- Main positioning ----------------------- */

.absolute {
  position: absolute;
}

main {
  margin: 0 auto;
  width: 80%;
}
.app-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/*------------------------------ Nav Bar ------------------------------ */

nav {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 10;
  width: 100%;
  height: 3rem;
  background: #03a8d8;
}

nav > a {
  position: relative;
  font-style: normal;
  font-weight: normal;
  color: white;
  text-decoration-line: none;
  overflow: hidden;
}

nav > a::after {
  content: '';
  position: absolute;
  bottom: 0;
  transform: translateX(-100%);
  height: 3px;
  width: 100%;
  border-radius: 8px;
  background: white;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

nav > a.active:after {
  transform: translateX(0);
  opacity: 1;
}

.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  margin: 0 1rem;
}

input[type="submit"] {
  position: relative;
  background: #03a8d8;
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  outline: none;
  padding: .5rem 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 0px;
}
input[type="submit"]:hover {
  cursor: pointer;
  background: #38606b;
}

input,
select {
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  border: 1px solid #979797;
  border-radius: 8px;
  padding: .5rem .5rem .6rem .5rem;
  outline: none;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

@media only screen and (max-width: 680px) {
  main {
    margin: 0 auto;
    width: 98%;
  }
  nav {
    display: flex;
    justify-content:flex-start;
  }
  .navLink {
    flex-grow: 1;
    width: fit-content;
    margin: 0 0rem;
  }
  input,
  select {
   font-size: .9rem;
   padding: .5rem .5rem .6rem .5rem;
  }
}

/* --------------------------- Delete Button ----------------------------  */

.close-item-button {
  background: none;
  border: none;
  font-size: 1.3rem;
  position: absolute;
  right: 3px;
  top: 3px;
}

.delete-button {
  position: absolute;
  right: 5px;
  background: none;
  border: none;
}