#root {
  font-family: "Open Sans", sans-serif;
}

/* ------------------ Resets ------------------------ */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

/* -------------------------- Main positioning ----------------------- */

main {
  margin: 0 auto;
  width: 80%;
}

nav > a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  margin-right: 30.5px;
  text-decoration-line: none;
}

nav > a.active {
  text-decoration-line: underline;
}

nav {
  display: flex;
  padding: 10px;
  padding-left: 20px;
  border-bottom: 1px solid #979797;
  margin-bottom: 20px;
  background-color: #03a8d8;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  margin: 0;
  margin-bottom: 18px;
}

hr {
  border: none;
  border-top: 1px solid #979797;
  margin: 20px 0;
}

input[type="submit"] {
  background: #03a8d8;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  border: none;
  outline: none;
  padding: 8px 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 0px;
}

input,
select {
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  border: 1px solid #979797;
  border-radius: 4px;
  padding: 5px 9.5px 6px 7px;
  outline: none;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* .tile {
  margin: 0;
  font-size: 14px;
  margin-bottom: 4px;
} */

.tile.tile-title {
  font-weight: bold;
}

.tile-container {
  position: relative;
  /* margin-bottom: 20px; */
}

.delete-button {
  position: absolute;
  /* top: 0px; */
  right: 5px;
  background: none;
  border: none;
}

.delete-button:hover {
  cursor: pointer;
}