.add-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --------------------- Contact Tile Container --------------------- */

.contacts-list {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 30rem;
}
.contacts-list h3 {
    font-size: 1.5rem;
    padding: .4rem;
    border-radius: 3px 3px 0 0;
    background-color: #03a8d8;
}

.contacts-tiles {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.contacts-tiles::-webkit-scrollbar {
    display:none;
}

/* --------------------- Contact page details container --------------------- */

.contacts-page-contacts-container {
    display: flex;
    justify-content: space-evenly;
}

.contacts-page-details {
    width: 20rem;
    height: 30rem;
}

/* --------------------- Media Queries --------------------- */

@media only screen and (max-width: 680px) {
    .contact-form {
        width: 100%;
    }
    .contacts-list {
        width: 100%;
        height: 100%;
    }
  }
